<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Simple File Upload</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>

  <body style="background-color: white">

    <div class = "container">
      <form method="post" enctype="multipart/form-data"  style="color:purple;font-size:20px; margin:10%">
        <h1>Comment Detection of Your Code</h1>
        <div>
          {% load static %}
          <img src="{% static "image/img1.png" %}" alt="My image">
        </div>
        <h2>Please upload your code file</h2>
        <h4>(C/C++, Java, JavaScript, Python)</h4>

        {% csrf_token %}
        <h5><input type="file" name="myfile"></h5>
        <h5><button type="submit" style="margin: 0px">Upload</button></h5>
      </form>
    </div>

  </body>

</html>
